.venv/
Videos/
whisper/
Audios/
Chunks/
embeddings.joblib
.git/

# Python cache
__pycache__/
*.pyc

# Temporary files
tempCodeRunnerFile.py

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
